<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" id="navbar" href="/">
        <img src="/img/logo.png">
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"">Início </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../saiba-mais">Saiba mais</a>
        </li>
    </ul>
</nav>

