<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
        <br>
            <div class="container">
                <hr>
                <h4>Calcule sua dieta rapidamente apenas colocando os dados abaixo:</h4>
                <hr>
                <form class="row mb-3" method="POST" action="/calcDieta">

                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" value="Masculino" checked>
                            <label class="form-check-label" for="Masculino">
                              Masculino
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" value="Feminino">
                            <label class="form-check-label" for="Feminino">
                              Feminino
                            </label>
                          </div>
                        </div>
                      </fieldset>
                      <div class="row mb-3">
                        <label for="peso" class="col-sm-2 col-form-label">Peso (kg)</label>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="peso" name="peso">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="altura" class="col-sm-2 col-form-label">Altura (cm)</label>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="peso" name="altura">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="idade" class="col-sm-2 col-form-label">Idade (anos)</label>
                        <div class="col-sm-3">
                          <input type="text" class="form-control" id="idade" name="idade">
                        </div>
                      </div>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Nivel de atividade</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="atividade" value="1.2" checked>
                            <label class="form-check-label" for="atividade">
                              Sedentário
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="atividade" value="1.375" >
                            <label class="form-check-label" for="atividade">
                              Levemente ativo
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="atividade" value="1.55" >
                            <label class="form-check-label" for="atividade">
                              Moderadamente Ativo
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="atividade" value="1.725" >
                            <label class="form-check-label" for="atividade">
                              Muito Ativo
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="atividade" value="1.9" >
                            <label class="form-check-label" for="atividade">
                              Extremamente Ativo
                            </label>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Objetivo</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="objetivo" value="0.85" checked>
                            <label class="form-check-label" for="objetivo">
                              Emagrecer
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="objetivo" value="0.70" >
                            <label class="form-check-label" for="objetivo">
                              Emagrecer Rapidamente
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="objetivo" value="1" >
                            <label class="form-check-label" for="objetivo">
                                Manter
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="objetivo" value="1.15" >
                            <label class="form-check-label" for="objetivo">
                              Ganhar Massa
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="objetivo" value="1.30" >
                            <label class="form-check-label" for="objetivo">
                              Ganhar Massa Rapidamente
                            </label>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Estado Atual</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estadoAtual" value="2" checked>
                            <label class="form-check-label" for="estadoAtual">
                              Magrelo
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estadoAtual" value="2.5" >
                            <label class="form-check-label" for="estadoAtual">
                              Atlético
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estadoAtual" value="2.2" >
                            <label class="form-check-label" for="estadoAtual">
                                Falso Magro
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estadoAtual" value="1.8" >
                            <label class="form-check-label" for="estadoAtual">
                              Muito Acima do Peso
                            </label>
                          </div>
                        </div>
                      </fieldset>
                      <div class="d-grid gap-2 col-5">
                         <button class="btn btn-danger">Calcular</button>
                        </div>
                </form>
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>