<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <br>
            <div class="container">
                <hr>
                <h4>Como o Dieta em um minuto funciona?</h4>
                <hr>
                <p class="text-justify"> O <strong>Dieta em um minuto</strong> utiliza-se do indicador TDEE (Total Daily
                    Energy Expenditure), que em português
                    significa Gasto Energético Diário Total, para calcular a quantidade e a divisão de seus
                    <strong>macronutrientes</strong>.
                </p>
                <p class="text-justify"> Os <strong>macronutrientes</strong> são nutrientes que ajudam a fornecer
                    energia e o organismo precisa deles em
                    grande quantidade. <strong>Carboidratos, gorduras e proteínas</strong> são classificados como
                    macronutrientes.
                </p><br>
                <h4>Carboidratos</h4>
                <p class="text-justify">

                    Os <strong>carboidratos</strong> evitam que as proteínas dos tecidos sejam utilizadas para o
                    fornecimento de energia.
                    Os da categoria simples estão presentes no açúcar e no mel; já entre os complexos estão pão, arroz,
                    milho e massa.
                </p>
                <h4>Gorduras</h4>
                <p class="text-justify">

                    As <strong>gorduras</strong> protegem os órgãos contra lesões, ajuda a manter a temperatura do
                    corpo, a absorver
                    algumas vitaminas e a dar sensação de saciedade.
                </p>
                <h4>Protéinas</h4>
                <p class="text-justify">

                    Já as <strong>proteínas</strong> são necessárias para o crescimento, construção e reparação dos
                    tecidos e estão
                    presentes também na constituição das células. Elas também
                    estão na composição dos anticorpos do sistema imunológico.
                </p>
                <br>
                <p class="text-justify"><strong>Ao consumir a quantidade ideal de macronutrientes todos os dias, você
                        consegue obter uma mudança corporal sustentável, seja para emagrecimento ou ganho de massa
                        muscular.</strong>
                </p>
                <hr>
                <a href="/" class="btn btn-danger">Calcular minha dieta</a>
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>